<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
    <label for="interest_rate">APR</label>
    <input id="interest_rate" type="text" name="interest_rate" placeholder="E.g. 5.42">
    </div>
    <div>
    <label for="term">Number of years</label>
    <input id="term" type="text" name="term" placeholder="How many years to repay?">
    </div>
    <div>
    <label for="principal">Principal</label>
    <input id="principal" type="text" name="principal" placeholder="How much principal?">
    </div>    
    
    <button>Calculate monthly payment</button>
    
</form>
