<h1>Random Calculation</h1>

<form action="/random/results">
    <div>
    <label for="lower_limit">Minimum</label>
    <input id="lower_limit" type="text" name="lower_limit" placeholder="E.g. 1.5">
    </div>
    <div>
    <label for="upper_limit">Maximum</label>
    <input id="upper_limit" type="text" name="upper_limit" placeholder="E.g. 4.5">
    </div>

    <button>Pick random number</button>
    
</form>
